@if(Model == 1)
{
    <span>Đến địa chỉ người nhận</span>
}
else if(Model== 2)
{
    <span>Khách đến nhận hàng</span>
}
else if(Model ==3)
{
    <span>Qua bưu điện</span>
}
else
{
    <span>Hình thức khác</span>
}