@if (Model == 1)
{
    <span>Qua thẻ hoặc Tài khoản ngân hàng</span>
}
else if (Model == 2)
{
    <span>hanh toán trực tiếp tại Văn phòng</span>
}
else if (Model == 3)
{
    <span>Thanh toán khi giao hàng</span>
}
else if (Model == 4)
{
    <span>Thanh toán an toàn qua Bảo Kim</span>
}
else
{
    <span>Hình thức khác</span>
}