@if(Model == 0)
{
    <span style="color: #F00">Đang xử lý</span>
}
else if (Model == 1)
{
    <span style="color: #00f">Đang giao hàng</span>
}
else if (Model == 2)
{
    <span style=" color: #8DC73F; font-weight: 700;">Đã thanh toán</span>
}
else
{
    <span>Hủy đơn</span>
}