@if (Model == null)
{
    <p>NO PICTURE</p>
}
else
{
    <img class="img-border" src="@Path.Combine("/images/partners/", Model)?w=150" alt="" style="object-fit: cover; width: 130px; height: 70px;" />
}