@if (Model == null)
{
    <div>NO PICTURE</div>
}
else
{
    <img class="img-border" src="@Path.Combine("/images/articleCategory/", Model)?w=150" alt="" style="object-fit: cover; width: 150px; height: 80px;" />
}