@if(Model == 0)
{
    <span style="color: #929292">Người mong muốn</span>
}
else if (Model == 1)
{
    <span style="color: #00f">Người dùng</span>
}
else if (Model == 2)
{
    <span style="color: #9dcb37">Thành viên</span>
}
else
{
    <span>Hủy đơn</span>
}
