@model IceCream.ViewModel.CartSummaryViewModel
<a href="@Url.Action("Index","ShoppingCart")">
    <div class="shopping-cart ml-3">
        <i class="fal fa-shopping-cart"></i>
        <span class="count">@Model.Count</span>
    </div> 
</a>

